mkdocs-git-authors-plugin==0.10.0
mkdocs-glightbox==0.5.2
mkdocs-material==9.7.5
mkdocs-material[recommended,git,imaging]==9.7.5
mkdocs-placeholder-plugin==0.6.0
mkdocs-redirects==1.2.2
termynal==0.13.1
