mkdocs-git-authors-plugin==0.10.0
mkdocs-glightbox==0.5.2
mkdocs-material==9.7.6
mkdocs-material[recommended,git,imaging]==9.7.6
mkdocs-placeholder-plugin==0.6.0
mkdocs-redirects==1.2.3
termynal==0.14.0
