mkdocs-git-authors-plugin==0.10.0
mkdocs-git-committers-plugin-2==2.5.0
mkdocs-glightbox==0.5.1
mkdocs-material==9.7.0
mkdocs-material[recommended,git,imaging]==9.7.0
mkdocs-placeholder-plugin==0.5.1
mkdocs-redirects==1.2.2
termynal==0.13.1
