---
icon: {{ role_type_icon }}                                              # todo: derive role type from role data
hide:
  - tags
tags:
  - {{ role_tag }}                                                      # todo: get role tag from playbook repo
project_description:
  category: "Category Heading > Category Subheading > ..."              # todo: generate apps index entry if valid
  name: Full Name of {{ role_tag | replace('-',' ') | title }}
  summary: a/an ...
  link: "https://{{ role_tag }}.com"
project_links:                                                          # todo: derive Releases url and icon from role data
  homepage: "https://www.{{ role_tag }}.com"
  documentation: "https://docs.{{ role_tag }}.com"
  community: "https://discord.gg/{{ role_tag }}"                        # todo: derive Community icon from Community url
{# hidden properties

subproject_description:
  name:
  summary:
  link:
app_relative_url:
managed_variables_hide:                                                     # ???
  - role_web_url
  - "# DNS"
  - '^.*_default$'

#}
---

<!-- BEGIN MANAGED 1 -->
# {{ project_description.name }}

## Overview

> [{{ project_description.name }}]({{ project_description.link }}) is {{ project_description.summary }}

{% if subproject_description %}
> [{{ subproject_description.name | default("Full Name of " + role_tag) }}]({{ subproject_description.link }}) is {{ subproject_description.summary | default("a/an ...") }}

{% endif %}
<!-- END MANAGED 1 -->
<!-- BEGIN MANAGED 2 -->
<div class="grid grid--buttons" markdown data-search-exclude>

[:material-home:**Homepage**]({{ project_links.homepage | default('') }}){ .md-button .md-button--stretch }

[:material-bookshelf:**Manual**]({{ project_links.documentation | default('') }}){ .md-button .md-button--stretch }

[:{{ project_link_icons.releases }}:**Releases**]({{ project_links.releases | default('') }}){ .md-button .md-button--stretch }

[:{{ project_link_icons.community }}:**Community**]({{ project_links.community | default('') }}){ .md-button .md-button--stretch }

</div>

---

<!-- END MANAGED 2 -->
## Configuration

<!-- BEGIN MANAGED 3 -->
## Deployment
```shell
sb install {{ role_tag_prefix }}{{ role_tag }}
```

<!-- END MANAGED 3 -->
## Basics

<!-- BEGIN MANAGED 4 -->
## Usage

{% if role_web_url %}
Visit <https://{{ role_web_subdomain }}.iYOUR_DOMAIN_NAMEi>{{ app_relative_url | default('') }}.

{% endif %}
<!-- END MANAGED 4 -->
<!-- BEGIN SALTBOX MANAGED VARIABLES SECTION -->
<!-- END SALTBOX MANAGED VARIABLES SECTION -->