## Role Defaults

!!! info
    Variables can be overridden in `/srv/git/saltbox/inventories/host_vars/localhost.yml`.

{% if instances_var %}
    This role supports multiple instances via `{{ instances_var }}`.

    ```yaml { .sb-show-on-unchecked title="Applies to all instances of {{ role_name }}:" }
    {{ role_name }}_role_web_subdomain: "custom"
    ```

    ```yaml { .sb-show-on-checked title="Applies to a specific instance (e.g., `{{ role_name }}2`):" }
    {{ role_name }}2_web_subdomain: "custom2"
    ```

<label class="md-button md-button--stretch" for="sb-checkbox--var-level">
   <input type="checkbox" id="sb-checkbox--var-level"><span class="sb-show-on-unchecked">Show instance-level variables</span><span class="sb-show-on-checked">Show role-level variables</span>
</label>

{% else %}
    ```yaml title="Example Override"
    {{ example_var }}: {{ example_var_value if example_var_value else get_example_value(example_var_type) }}
    ```

{% endif %}
{% if has_default_vars %}
??? warning "Avoid overriding variables ending in `_default`"

    When overriding variables that end in `_default` (like `{{ role_name }}_docker_envs_default`), you replace the entire default configuration. Future updates that add new default values will not be applied to your setup, potentially breaking functionality.

    Instead, use the corresponding `_custom` variable (like `{{ role_name }}_docker_envs_custom`) to add your changes. Custom values are merged with defaults, ensuring you receive updates.

{% endif %}
{% for section_name, section_vars in sections.items() %}
=== "{{ section_name }}"

  {% if instances_var and section_name == "Basics" %}
    {% for var in section_vars %}
    ??? variable {{ var.var_type }} "`{{ var.name }}`"

        ```yaml
      {% if var.comment and not var.has_inline_comments and var.comment.strip() != section_name %}
        {% for comment_line in var.comment_lines %}
        # {{ comment_line }}
        {% endfor %}
      {% endif %}
        {{ format_type_comment(var.var_type) }}
      {% if var.is_multiline %}
        {{ var.name }}: {{ var.value_lines[0] }}
        {% for line in var.value_lines[1:] %}
        {{ line }}
        {% endfor %}
      {% else %}
        {{ var.name }}: {{ var.raw_value }}
      {% endif %}
        ```

        !!! example "Example Override"

            ```yaml
      {% if var.comment and not var.has_inline_comments and var.comment.strip() != section_name %}
        {% for comment_line in var.comment_lines %}
            # {{ comment_line }}
        {% endfor %}
      {% endif %}
            {{ format_type_comment(var.var_type) }}
      {% if var.name == instances_var %}
            {{ var.name }}: ["{{ role_name }}", "{{ role_name }}2"]
      {% elif var.is_multiline %}
            {{ var.name }}: {{ var.value_lines[0] }}
        {% for line in var.value_lines[1:] %}
            {{ line }}
        {% endfor %}
      {% else %}
            {{ var.name }}: {{ var.raw_value }}
      {% endif %}
            ```

    {% endfor %}
  {% elif instances_var and section_name != "Docker" %}
    {% for var in section_vars %}
    ??? variable {{ var.var_type }} "`{{ var.name }}`{ .sb-show-on-unchecked }`{{ var.instance_name }}`{ .sb-show-on-checked }"

        ```yaml { .sb-show-on-unchecked }
      {% if var.comment and not var.has_inline_comments and var.comment.strip() != section_name %}
        {% for comment_line in var.comment_lines %}
        # {{ comment_line }}
        {% endfor %}
      {% endif %}
        {{ format_type_comment(var.var_type) }}
      {% if var.is_multiline %}
        {{ var.name }}: {{ var.value_lines[0] }}
        {% for line in var.value_lines[1:] %}
        {{ line }}
        {% endfor %}
      {% else %}
        {{ var.name }}: {{ var.raw_value }}
      {% endif %}
        ```

        ```yaml { .sb-show-on-checked }
      {% if var.comment and not var.has_inline_comments and var.comment.strip() != section_name %}
        {% for comment_line in var.comment_lines %}
        # {{ comment_line }}
        {% endfor %}
      {% endif %}
        {{ format_type_comment(var.var_type) }}
      {% if var.is_multiline %}
        {% set adjusted = adjust_multiline_indentation(var.value_lines, var.name, var.instance_name, "") %}
        {% for line in adjusted %}
        {{ line }}
        {% endfor %}
      {% else %}
        {{ var.instance_name }}: {{ var.raw_value }}
      {% endif %}
        ```

    {% endfor %}
  {% elif section_name == "Docker" and instances_var %}
    {% for var in section_vars %}
      {% if var.comment and not var.has_inline_comments and var.comment.strip() != section_name %}
        {% for comment_line in var.comment_lines %}
    <h5>{{ comment_line }}</h5>

        {% endfor %}
      {% endif %}
    ??? variable {{ var.var_type }} "`{{ var.name }}`{ .sb-show-on-unchecked }`{{ var.instance_name }}`{ .sb-show-on-checked }"

        ```yaml { .sb-show-on-unchecked }
        {{ format_type_comment(var.var_type) }}
      {% if var.is_multiline %}
        {{ var.name }}: {{ var.value_lines[0] }}
        {% for line in var.value_lines[1:] %}
        {{ line }}
        {% endfor %}
      {% else %}
        {{ var.name }}: {{ var.raw_value }}
      {% endif %}
        ```

        ```yaml { .sb-show-on-checked }
        {{ format_type_comment(var.var_type) }}
      {% if var.is_multiline %}
        {% set adjusted = adjust_multiline_indentation(var.value_lines, var.name, var.instance_name, "") %}
        {% for line in adjusted %}
        {{ line }}
        {% endfor %}
      {% else %}
        {{ var.instance_name }}: {{ var.raw_value }}
      {% endif %}
        ```

    {% endfor %}
    {% if docker_info %}
=== "Docker+"

    The following advanced options are available via create_docker_container but are not defined in the role. See: https://docs.ansible.com/ansible/latest/collections/community/docker/docker_container_module.html

      {% for category in docker_info.category_order %}
        {% if category in docker_info.categories %}
    <h5>{{ category }}</h5>

          {% for var_suffix in docker_info.categories[category]|sort %}
    ??? variable {{ get_docker_var_type(var_suffix) }} "`{{ role_name }}_role_docker_{{ var_suffix }}`{ .sb-show-on-unchecked }`{{ role_name }}2_docker_{{ var_suffix }}`{ .sb-show-on-checked }"

        ```yaml { .sb-show-on-unchecked }
        {{ get_docker_var_type_comment(var_suffix) }}
        {{ role_name }}_role_docker_{{ var_suffix }}:
        ```

        ```yaml { .sb-show-on-checked }
        {{ get_docker_var_type_comment(var_suffix) }}
        {{ role_name }}2_docker_{{ var_suffix }}:
        ```

          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% elif section_name != "Docker" %}
    {% for var in section_vars %}
    ??? variable {{ var.var_type }} "`{{ var.name }}`"

        ```yaml
      {% if var.comment and not var.has_inline_comments and var.comment.strip() != section_name %}
        {% for comment_line in var.comment_lines %}
        # {{ comment_line }}
        {% endfor %}
      {% endif %}
        {{ format_type_comment(var.var_type) }}
      {% if var.is_multiline %}
        {{ var.name }}: {{ var.value_lines[0] }}
        {% for line in var.value_lines[1:] %}
        {{ line }}
        {% endfor %}
      {% else %}
        {{ var.name }}: {{ var.raw_value }}
      {% endif %}
        ```

    {% endfor %}
  {% else %}
    {% for var in section_vars %}
      {% if var.comment and not var.has_inline_comments and var.comment.strip() != section_name %}
        {% for comment_line in var.comment_lines %}
    <h5>{{ comment_line }}</h5>

        {% endfor %}
      {% endif %}
    ??? variable {{ var.var_type }} "`{{ var.name }}`"

        ```yaml
        {{ format_type_comment(var.var_type) }}
      {% if var.is_multiline %}
        {{ var.name }}: {{ var.value_lines[0] }}
        {% for line in var.value_lines[1:] %}
        {{ line }}
        {% endfor %}
      {% else %}
        {{ var.name }}: {{ var.raw_value }}
      {% endif %}
        ```

    {% endfor %}
    {% if docker_info %}
=== "Docker+"

    The following advanced options are available via create_docker_container but are not defined in the role. See: https://docs.ansible.com/ansible/latest/collections/community/docker/docker_container_module.html

      {% for category in docker_info.category_order %}
        {% if category in docker_info.categories %}
    <h5>{{ category }}</h5>

          {% for var_suffix in docker_info.categories[category]|sort %}
    ??? variable {{ get_docker_var_type(var_suffix) }} "`{{ role_name }}_role_docker_{{ var_suffix }}`"

        ```yaml
        {{ get_docker_var_type_comment(var_suffix) }}
        {{ role_name }}_role_docker_{{ var_suffix }}:
        ```

          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}
{% if role_var_lookups %}
=== "Global Override Options"

  {% if instances_var %}
    {% for suffix in role_var_lookups|sort %}
      {% set var_type = role_var_lookups[suffix] %}
      {% set role_var_name = role_name ~ '_role' ~ suffix %}
      {% set instance_var_name = role_name ~ '2' ~ suffix %}
      {% set var_config = role_var_descriptions.get(suffix, {}) %}
    ??? variable {{ var_type.split(' ').0 }} "`{{ role_var_name }}`{ .sb-show-on-unchecked }`{{ instance_var_name }}`{ .sb-show-on-checked }"

        ```yaml { .sb-show-on-unchecked }
      {% if var_config.description %}
        # {{ var_config.description }}
      {% endif %}
        {{ format_type_comment(var_type) }}
      {% if suffix in role_var_defaults and role_var_defaults[suffix] is not none %}
        {{ role_var_name }}: {{ format_default_value(role_var_defaults[suffix], var_type) }}{% if var_config.example %}{% endif %}
      {% else %}
        {{ role_var_name }}:{% if var_config.example %}{% endif %}
      {% endif +%}
        ```

        ```yaml { .sb-show-on-checked }
      {% if var_config.description %}
        # {{ var_config.description }}
      {% endif %}
        {{ format_type_comment(var_type) }}
      {% if suffix in role_var_defaults and role_var_defaults[suffix] is not none %}
        {{ instance_var_name }}: {{ format_default_value(role_var_defaults[suffix], var_type) }}{% if var_config.example %}{% endif %}
      {% else %}
        {{ instance_var_name }}:{% if var_config.example %}{% endif %}
      {% endif +%}
        ```
      {% if var_config.example %}

        !!! example sb-show-on-unchecked "Example Override"

        {% for line in var_config.example.rstrip().split('\n') %}
          {% if line.strip() %}
            {{ line.replace('{variable}', role_var_name).replace('{role}', role_name) }}
          {% else %}

          {% endif %}
        {% endfor %}

        !!! example sb-show-on-checked "Example Override"

        {% for line in var_config.example.rstrip().split('\n') %}
          {% if line.strip() %}
            {{ line.replace('{variable}', instance_var_name).replace('{role}', role_name) }}
          {% else %}

          {% endif %}
        {% endfor %}
      {% endif %}

    {% endfor %}
  {% else %}
    {% for suffix in role_var_lookups|sort %}
      {% set var_type = role_var_lookups[suffix] %}
      {% set role_var_name = role_name ~ '_role' ~ suffix %}
      {% set var_config = role_var_descriptions.get(suffix, {}) %}
    ??? variable {{ var_type.split(' ').0 }} "`{{ role_var_name }}`"

        ```yaml
      {% if var_config.description %}
        # {{ var_config.description|replace('containers', 'the container') }}
      {% endif %}
        {{ format_type_comment(var_type) }}
      {% if suffix in role_var_defaults and role_var_defaults[suffix] is not none %}
        {{ role_var_name }}: {{ format_default_value(role_var_defaults[suffix], var_type) }}{% if var_config.example %}{% endif %}
      {% else %}
        {{ role_var_name }}:{% if var_config.example %}{% endif %}
      {% endif +%}
        ```
      {% if var_config.example %}

        !!! example "Example Override"

        {% for line in var_config.example.rstrip().split('\n') %}
          {% if line.strip() %}
            {{ line.replace('{variable}', role_var_name).replace('{role}', role_name) }}
          {% else %}

          {% endif %}
        {% endfor %}
      {% endif %}

    {% endfor %}
  {% endif %}
{% endif %}