.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
}

.md-typeset .md-button--stretch {
  width: 100%;
}

@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: 80%;
  }

  .md-sidebar--primary {
    margin-left: 0;
    left: 0;
  }

  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}

.heart {
  animation: heart 1000ms infinite;
}

.icon-indent-right::before {
  content: "\2BA9";
  color: var(--md-accent-fg-color);
  padding-left: 1em;
  padding-right: 0.25em;
}

.sb-buttons {
  grid-template-columns: repeat(auto-fit, minmax(8.8rem, 1fr)) !important;

  .md-button {
    text-align: center;
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
  }
}

@media only screen and (min-width: 45em) {
  .sb-wide {
    width: 13.5rem !important;
  }
}

.sb-no-thead thead {
  display: none;
}

.sb-table-heat-map {
  tbody {
    tr:nth-child(1) {
      background: #00c8531a;
    }

    tr:nth-child(2) {
      background: #64dd171a;
    }

    tr:nth-child(3) {
      background: #ff91001a;
    }

    tr:nth-child(4) {
      background: #ff52521a;;
    }

    tr:nth-child(5) {
      background: #f500571a;
    }
  }
}

:root {
  --md-admonition-icon--variable: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 2H3c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m0 18H3V6h18zM16.6 8c1.5 1.3 2.4 3.1 2.4 5s-.9 3.7-2.4 5l-1.6-.6c1.3-1 2-2.7 2-4.4s-.7-3.4-2-4.4zM7.4 8l1.6.6c-1.3 1-2 2.7-2 4.4s.7 3.4 2 4.4l-1.6.6C5.9 16.7 5 14.9 5 13s.9-3.7 2.4-5m4.7 4 1.4-2H15l-2.2 3 1.3 3h-1.3l-.8-2-1.4 2H9l2.3-3.1L10 10h1.3z"/></svg>');
}

.md-typeset .admonition.variable,
.md-typeset details.variable {
  border-color: rgb(84, 109, 120);
}

.md-typeset .variable > .admonition-title,
.md-typeset .variable > summary {
  background-color: rgba(84, 109, 120, 0.1);

  code {
    background: none;
    box-shadow: none;
  }
}

.md-typeset .variable > .admonition-title::before,
.md-typeset .variable > summary::before {
  background-color: rgb(84, 109, 120);
  -webkit-mask-image: var(--md-admonition-icon--variable);
  mask-image: var(--md-admonition-icon--variable);
}
