.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
}

.md-typeset .md-button--stretch {
  width: 100%;
}

@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: 80%;
  }

  .md-sidebar--primary {
    margin-left: 0;
    left: 0;
  }

  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}

.heart {
  animation: heart 1000ms infinite;
}

.icon-indent-right::before {
  content: "\2BA9";
  color: var(--md-accent-fg-color);
  padding-left: 1em;
  padding-right: 0.25em;
}

.sb-buttons {
  grid-template-columns: repeat(auto-fit, minmax(8.8rem, 1fr)) !important;

  .md-button {
    text-align: center;
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
  }
}

@media only screen and (min-width: 45em) {
  .sb-wide {
    width: 13.5rem !important;
  }
}
