.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
   display: table;
}

@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: 80%;
  }
  .md-sidebar--primary {
    margin-left: 0;
    left: 0;
  }
  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;   
  }
}