.md-typeset {

  h2:first-of-type:has(+ .md-typeset__scrollwrap) {
    margin-bottom: -2em;
  }

  .md-typeset__table > table {
    table-layout: fixed;
    background-color: inherit;
    border: none;

    > thead {
      display: none;

      > th {
        text-align: center;
      }
    }

    td {
      vertical-align: middle;

      code {
        display: inline-block;
      }
    }
  }

  & > .md-typeset__scrollwrap:first-of-type table {
    thead {
      display: table-header-group;
    }
  }
}