---
{{if .Icon}}icon: "{{.Icon}}"
{{end}}
saltbox_automation:
  app_links:
{{range .AppLinks}}    - name: "{{.Name}}"
      url: "{{.URL}}"
      type: "{{.Type}}"
      purpose: "{{.Purpose}}"
{{end}}
  project_description:
    name: "{{.RoleTitle}}"
    summary: "TODO: Add description"
    link: "https://{{.RoleName}}.com"
---

<!-- BEGIN SALTBOX MANAGED OVERVIEW SECTION -->
# {{.RoleTitle}}

## Overview

TODO: Add overview
<!-- END SALTBOX MANAGED OVERVIEW SECTION -->

## Deployment

```shell
sb install {{.TagPrefix}}{{.RoleTag}}
```

<!-- BEGIN SALTBOX MANAGED VARIABLES SECTION -->
<!-- END SALTBOX MANAGED VARIABLES SECTION -->
